<html>

<head>
    <title>Page not found · Aperture</title>
    <link type="text/css" rel="stylesheet" href="../static/404css.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon-16.png')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon-32.png')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon-48.png')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon-64.png')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon-128.png')}}">

</head>

<body>
  <div class="ryan">

        <div class="ear left"></div>
        <div class="ear right"></div>

        <div class="face">
            <div class="eyebrow left"></div>
            <div class="eyebrow right"></div>
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="nose"></div>
            <div class="mouth left"></div>
            <div class="mouth right"></div>
        </div>
    </div>
    <div class="under">
        <p><a class="title404">404</a> page not found</p>
        <p class="content">없는 페이지입니다. <a url="http://wonny.me">정상적인 페이지</a>로 이동해주세요
        </p>
    </div>
</body>

</html>
