<!DOCTYPE html>
<html>
  <head>
    <!-- Web Develop by CatNote, Github : https://github.com/CatNote, Email : CatNote1@gmail.com -->
    <!-- Server Develop by Mase, Github : https://github.com/MaseKor, Email : leynuxms@gmail.com-->
    <meta charset="utf-8">
    <title>mobile Aperture page</title>

    <!--안드로이드 5.0 이상일 시에 상단바를 검정으로 바꿈 -->
		<meta name="theme-color" content="#000000">
		<!-- favicon -->
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon-16.png')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon-32.png')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon-48.png')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon-64.png')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon-128.png')}}">

    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='mobileAperture.css')}}">
    <script src="{{url_for('static', filename='mobileAperture.js')}}"></script>


  </head>
  <body>
  </body>
</html>
